.about {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100dvh;
}

.about__main {
  align-self: center;
  max-width: 570px;
  font-size: 18px;
  a {
    text-decoration: underline;
  }

  a:hover {
    color: #c2c9d6;
  }

  a i {
    font-size: 12px !important;
  }
}
